<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <!-- header -->
    <h:head>
        <title>Consolidated</title>
    </h:head>

    <!-- primeflex css -->
    <h:outputStylesheet name="css/primeflex.min.css"/>
    <!-- layout css -->
    <h:outputStylesheet name="css/layout.css"/>

    <!-- body -->
    <h:body>
        <div class="layout-sidebar">
            <div class="layout-menu">
                <div class="menu-category">Menu</div>
                <div class="menu-items">
                    <h:link outcome="/index">
                        Fetch Data
                    </h:link>
                    <h:link outcome="/stat">
                        Consolidate Statement
                    </h:link>
                    <h:link outcome="/report">
                        Create PDF
                    </h:link>
                </div>
                <div class="menu-category">Resource</div>
                <div class="menu-items">
                    <a href="https://primefaces.org">
                        Primefaces
                    </a>
                    <a href="https://forum.primefaces.org">
                        Forum Primefaces
                    </a>
                </div>
            </div>
        </div>
        <div class="p-grid p-jc-end">
            <div class="p-col-12 p-md-10 p-lg-10">
                <div class="box">
                    <h1>Statement</h1>
                </div>
            </div>
        </div>
    </h:body>
</html>
